$base-color: white;
$secondary-color: black;

.grid-container {
	display: grid;
	grid-template-rows: 100px 100px 100px 100px 100px 100px;
	grid-template-columns: 100px 100px 100px 100px;
}

.grid-container button {
	font-weight: bold;
	background-color: $base-color;
	border: 1px solid $secondary-color;
	color: $secondary-color;
	transition-duration: 0.25s;
}

.grid-container button:hover {
	background-color: $secondary-color;
	color: $base-color;
}

.grid-item {
	grid-column-start: 1;
	grid-column-end: 5;
}

.center {
	text-align: center;
	justify-content: center;
}
.equation-box {
	grid-column-start: 1;
	grid-column-end: 5;
	background: $base-color;
	color: $secondary-color;
	border: 1px solid $secondary-color;
	font-size: large;
}
