section {
	--primary-color: white;
	--secondary-color: black;
}

.grid-container {
	display: grid;
	grid-template-rows: 100px 100px 100px 100px 100px 100px;
	grid-template-columns: 100px 100px 100px 100px;
}

.grid-container button {
	font-weight: bold;
	background-color: white;
	color: black;
	transition-duration: 0.25s;
}

.grid-container button:hover {
	background-color: black;
	color: white;
}

.grid-item {
	grid-column-start: 1;
	grid-column-end: 5;
}

.center {
	text-align: center;
	justify-content: center;
}

.equation-box {
	grid-column-start: 1;
	grid-column-end: 5;
}
